body{
    margin: 0px;
}
table{
    border-collapse: collapse;
}

th{
    border: solid 1px black;
    padding: 0px;
    width: auto;
    border-collapse: collapse;
    box-sizing: border-box;
}
tr{
    padding: 0px;
}
.menu{
    display: inherit;
    position:fixed;
    background-color: black;
    height: 30px;
    width: 100%;
}
.menu>select{
    height: 100%;
    width: 20%;
    background-color: black;
    color: rgb(203, 203, 203);
}
h1{
    margin: 0px;
}
#nomDiv{
    position: relative;
    display: inline-block;
}
#infoDiv{
    position: relative;
    top: 0px;
}
p{
    margin: 0px;
}
li{
    margin: 0px;
}
ul{
    margin: 0px;
}
.autour{
    border: 1px black solid;
    width: max-content;
    display: inline-block;
}
#page{
    position: relative;
    top: 30px;
    width: 100%;
}
#teamInfo{
    display: inherit;
    position: absolute;
    right: 0px;
    top: 0px;
}
#imagePerso{
    width: 200px;
    height: 234px;
    float: left;
}