body{
    margin: 0px;
}
table{
    border-collapse: collapse;
}

th{
    border: solid 1px black;
    padding: 0px;
    width: auto;
    border-collapse: collapse;
    box-sizing: border-box;
}
tr{
    padding: 0px;
}
.menu{
    display: inherit;
    background-color: black;
    height: 30px;
    width: 100%;
}
.menu>select{
    height: 100%;
    width: 20%;
    background-color: black;
    color: rgb(203, 203, 203);
}